<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Gopay Credit:</strong>
  <%= @user.gopay %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %> |
<%= link_to 'Top Up', user_topup_path(@user) %>
