<%= form_for(driver) do |f| %>
  <% if driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(driver.errors.count, "error") %> prohibited this driver from being saved:</h2>

      <ul>
      <% driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset>
    <legend>Enter Driver Details</legend>

    <div class="field">
      <%= f.label :username %>
      <%= f.text_field :username, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.text_field :email, size: 40 %>
    </div>

    <div class="form-group">
      <%= f.label :vehicle_type %>
      <%= f.select :vehicle_type, Driver.vehicle_types.keys, prompt:"Select Vehicle Type", size:40 %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <%= f.password_field :password, size: 40 %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, 'Confirm:' %>
      <%= f.password_field :password_confirmation %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  </fieldset>
<% end %>
