<!DOCTYPE html>
<html>
  <head>
    <title>FINAL PROJECT</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= controller.controller_name %>">
    <div id="banner">
      <%= image_tag 'gojek2.png', alt: "Simplified Go-Jek" %>
      <span class="title"><%= @page_title %></span>
    </div>
    <div id="columns">
      <div id="side">
        
        <ul>
          <li><%= link_to 'Home', root_path %></li>
          
        </ul>

        <% if session[:user_id] %>
          <ul>
            
            <li><%= link_to 'Orders', new_order_path %></li>
    
            <br/>
            <li><%= link_to 'Customer Account', users_path %></li>
            <li><%= link_to 'Customer History', orders_path  %></li>

            <li>&nbsp;</li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>
          
        <% elsif session[:driver_id] %>
           
          <ul>
            
            <li><%= link_to 'Set Location', set_location_url(:id) %></li>
    
            <br/>
            <li><%= link_to 'Driver Account', drivers_path %></li>
            <li><%= link_to 'Driver History', orders_path  %></li>

            <li>&nbsp;</li>
            <li><%= button_to 'Logout', logout_path, method: :delete %></li>
          </ul>

          <% else %>

          <ul>
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        <% end %>
      </div>
      <div id="main">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
